:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.nb-choice {
  color: #696969;
  margin-bottom: 25px;
}

.answer-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.space{
  margin-top: 43px;
}

.bold-text{
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.answer-choice {
  display: flex;
  align-content: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  align-items: center;
  word-wrap: break-word;
  color: #333333;
}

.explanation {
  font-size: 16px;
  white-space : pre-line;
  color: #333333;
}

.answers {
  font-size: 18px;
  white-space : pre-line;
  color: #333333;
}

.choice-text {
  font-size: 16px;
}

i {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.correct {
  border-color: var(--p-green-500);
}
.correct i {
  color: var(--p-green-500);
}

.wrong {
  border-color: var(--p-red-500);
}
.wrong i {
  color: var(--p-red-500);
}

.neutral {
  border-color: var(--p-gray-500);
}
.neutral i {
  color: var(--p-gray-500);
}


p, span {
  line-height: 25px;
}