@if (progressService.currentAnswerValidity()){
  <p class="nb-choice">Mauvaise réponse</p>
}
@else {
  <p class="nb-choice">Bonne réponse</p>
}
<div class="answer-box">
  @for (choice of quiz_segment.possible_answers; track $index) {
    @if (quiz_segment.true_answers.includes($index)) {
      <label class="answer-choice correct">
        <i class="pi pi-check-circle"></i>
        <p class="choice-text">
          {{ choice }}
        </p>
      </label>
    } @else if (progressService.currentAnswer().includes($index)) {
      <label class="answer-choice wrong">
        <i class="pi pi-times-circle"></i>
        <p class="choice-text">
          {{ choice }}
        </p>
      </label>
    } @else {
      <label class="answer-choice neutral">
        <i class="pi pi-circle"></i>
        <p class="choice-text">
          {{ choice }}
        </p>
      </label>
    }
  }
  <span class="explanation">{{ quiz_segment.explanation }}</span>
</div>
