:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.answer-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.answer-choice {
  display: flex;
  align-content: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px;
  align-items: center;
  vertical-align: middle;
  word-wrap: break-word;
  color: #333333;
}

.explanation {
  font-size: 16px;
  white-space : pre-line;
  color: #333333;
}

.choice-text {
  font-size: 16px;
}

i {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.correct {
  border-color: var(--p-green-500);
}
.correct i {
  color: var(--p-green-500);
}

.wrong {
  border-color: var(--p-red-500);
}
.wrong i {
  color: var(--p-red-500);
}

.neutral {
  border-color: var(--p-gray-500);
}
.neutral i {
  color: var(--p-gray-500);
}
