<div class="space"></div>
<div class="answer-box">
  @for (choice of quiz_segment.possible_answers; track $index) {
    @if (quiz_segment.true_answers.includes($index)) {
      <label class="answer-choice correct">
        <i class="pi pi-check-circle"></i>
        <p class="choice-text">{{ choice }}</p>
      </label>
    }
    @else if (progressService.currentAnswer().includes($index)) {
      <label class="answer-choice wrong">
        <i class="pi pi-times-circle"></i>
        <p class="choice-text">{{ choice }}</p>
      </label>
    }
    @else {
      <label class="answer-choice neutral">
        <i class="pi pi-circle"></i>
        <p class="choice-text">{{ choice }}</p>
      </label>
    }
  }
  @if (progressService.currentAnswerValidity()){
    <p class="bold-text">Raté !</p>
  }
  @else {
    <p class="bold-text">Bravo !</p>
  }

  @if (quiz_segment.question_type === "QCM") {
    <span class="answers">{{ quiz_segment.QCM_answers }}</span>
  }
  <p class = "bold-text">L'explication :</p>
  <span class="explanation">{{ quiz_segment.explanation }}</span>
</div>
