<!-- Mise en place soit de la page de garde, soit de la page de fin ou alors des cartes questions -->
@if (progressService.questionNumber() === 0) {
  <app-quiz-homepage></app-quiz-homepage>
}
@else if (progressService.hasEnded()) {
  <app-quiz-endpage></app-quiz-endpage>
}
@else {
  <div class="quiz">
    <!-- Mise en place de la barre de progression-->
    <div class="progress">
      <p class="question-text">
        {{ "Question " + progressService.questionNumber() }} / {{ dataService.numberOfQuestions() }}
      </p>
      <p></p>
      <p-progressbar class="progress-bar" [value]="progressPercentage()" />
    </div>

    <!-- Mise en place des cartes du Quiz-->
    <app-quiz-card></app-quiz-card>

    <!-- Mise en place des boutons pour avancer dans le Quiz -->
    <div class="next">
      <p-divider/>

      @if (!progressService.answered()) {
        <p-button class="button-page" (click)="quizCard()!.choiceBox()!.tryToAnswer()">
          Répondre
        </p-button>
      }
      @else {
        <p-button class="button-page" (click)="progressService.goToNext()">
          Suivant
          <i class="pi pi-arrow-right"></i>
        </p-button>
      }
    </div>
  </div>
}
