:host {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.quiz {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
  align-items: start;
  justify-content: start;
}

.progress {
  width: 100%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  column-gap: 2%;
  row-gap: 0%;
  align-items: center;
  color: var(--p-primary-500);
}

.progress-bar {
  --p-progressbar-label-font-size: 0;
  --p-progressbar-height: 1vh;
}

.question-text {
  grid-column-start: 2;
  padding: 0 0 0 2%;
  margin: 0;
}

.next {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0%;
  width: 100%;
  position:fixed;
  bottom:5em;
}

.button-page{
  font-size: large;
}
