:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.quiz {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: start;
}

.progress {
  width: 100%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  column-gap: 2%;
  row-gap: 0%;
  align-items: center;
  color: var(--p-primary-500);
}

.progress-bar {
  --p-progressbar-label-font-size: 0;
  --p-progressbar-height: 1vh;
}

.question-text {
  grid-column-start: 2;
  padding: 0 0 0 2%;
  margin: 0;
}

.next {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  position: relative;
  bottom:0px;
}

p-divider{
  margin: 0;
  padding-bottom: 40px;
}

.button-page{
  --p-button-primary-active-background: #ff5d5c;
  --p-button-primary-hover-background: #cd2524;
  --p-button-primary-active-border-color: #ff5d5c;
  --p-button-primary-hover-border-color: #cd2524;
}

::ng-deep .button-page button {
  width: 150px; /* Force the width */
}

/* Désactivation du style du bouton lorsque désactivé */
::ng-deep p-button button:disabled {
  background-color: #cd2524 !important;
  border-color: #cd2524 !important;
}

::ng-deep  p-button button:disabled:hover {
  background-color: #cd2524 !important;
  border-color: #cd2524 !important;

}

::ng-deep  p-button button:disabled:active {
  background-color: #cd2524 !important;
  border-color: #cd2524 !important;
}