@if (progressService.questionNumber() === 0) {
  <app-quiz-homepage></app-quiz-homepage>
} @else if (progressService.hasEnded()) {
  <app-quiz-endpage></app-quiz-endpage>
} @else {
  <div class="quiz">
    <div class="progress">
      <p class="question-text">
        {{ "Question " + progressService.questionNumber() }}
      </p>
      <p>{{ (progressPercentage() | number: "1.0-0") + " %" }}</p>
      <p-progressbar class="progress-bar" [value]="progressPercentage()" />
    </div>
    <app-quiz-card></app-quiz-card>
    <div class="next">
      <p-divider class="divider" />
      @if (!progressService.answered()) {
        <p-button
          class="button"
          (click)="quizCard()!.choiceBox()!.tryToAnswer()"
        >
          Répondre
        </p-button>
      } @else {
        <p-button class="button" (click)="progressService.goToNext()">
          Suivant
          <i class="pi pi-arrow-right"></i>
        </p-button>
      }
    </div>
  </div>
}
