.logo {
  padding: 16px;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 16px;
  color: var(--p-gray-700);
}

a {
  text-decoration: none;
}
