<div class="presentation-section">
  <h1>Inclusivité numérique : Testez vos connaissances !</h1>
  <p-image
    src="images/banner.png"
    [imageStyle]="{ objectFit: 'contain' }"
    width="80%"
  />
  <p>
    Grâce au quiz d’Inclusif, le jeu, abordez de manière ludique les enjeux de l’inclusivité et de l’accessibilité numériques.
  </p>
</div>

<!-- Mise en place des boutons pour le choix du nombre de question et le démarrage du jeu -->
<div class="lower-section">
  <p-divider/>
    <!-- Bouton pour démarrer le Quiz -->
  <div class = "start-game-button">
    <p-button
      class = "game"
      (click)="commencer()"
      aria-label="Commencer le quiz"
      label = "Passer à l'action">
    </p-button>
  </div>
</div>
