<div class="presentation-section">
  <h1>Quiz</h1>
  <h2>Concevons nos services numériques pour tout le monde !</h2>
  <p-image
    src="images/banner.png"
    alt="Image de présentation du quiz"
    [imageStyle]="{ objectFit: 'contain' }"
    width="80%"
  />
  <p>
    Bienvenue sur le quiz de « Inclusif, le jeu ».
    <br>
    Ce quiz vous permet d'aborder de manière ludique les problèmes liés à
    l'inclusivité.
  </p>
</div>

<!-- Mise en place des boutons pour le choix du nombre de question et le démarrage du jeu -->
<div class="lower-section">
  <p-divider/>
  <div class="start-div">
    <div class="n-questions-selector">
      <p>Durée du quiz (min)</p>
      <div class="selector-buttons">
        <p-button
          severity="contrast"
          (click)="adjustNumberOfQuestions(-1)"
          [disabled]="iNumberOfQuestions == 0"
          aria-label="Enlever des questions"
          icon="pi pi-minus"
        />
        <span class="n-questions-text">
          {{ possibleNumberOfQuestionsPerTopic[iNumberOfQuestions] * dataService.getNumberOfTopics() }}
        </span>
        <p-button
          severity="contrast"
          (click)="adjustNumberOfQuestions(1)"
          [disabled]="iNumberOfQuestions == possibleNumberOfQuestionsPerTopic.length - 1"
          aria-label="Ajouter des questions"
          icon="pi pi-plus"/>
      </div>
    </div>

    <!-- Bouton pour démarrer le Quiz -->
    <div class = "start-game-button">
      <p-button
        class = "game"
        (click)="progressService.start(possibleNumberOfQuestionsPerTopic[iNumberOfQuestions])"
        aria-label="Commencer le quiz"
        label = "Passer à l'action">
      </p-button>
    </div>
  </div>
</div>
