:host {
  display: flex;
  flex-direction: column;
  gap: 2%;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: auto;
}

.presentation-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 16px;
  padding-top: 2%;
  height: 100%;
}

.presentation-section h1 {
  font-size: 4em;
  font-weight: normal;
}
.presentation-section h2 {
  font-size: 2em;
  font-weight: normal;
}
.presentation-section p-image {
  margin: auto;
}

.n-questions-selector {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 8px;
  border: 2px solid gray;
  padding: 0 16px;
  gap: 16px;
  align-items: center;
}

.start-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 2%;
}
.selector-buttons {
  flex-grow: 1;
  display: grid;
  gap: 4px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1.2fr 1fr;
  padding: 8px;
  align-items: center;
}

.n-questions-text {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  align-content: center;
  padding: 8px;
  border: 1px solid gray;
  background-color: var(--p-gray-200);
}

.start-game-button {
  --p-button-padding-x: 60px;
  --p-button-padding-y: 16px;
}

p, h1, h2{
  color: #333333;
}