:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: auto;
}

.presentation-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.presentation-section h1 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 35px;
  margin-top: 15px;
}

.presentation-section p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 25px;
}

.lower-section{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p-divider{
  margin: 0;
  padding-bottom: 40px;
  width:80%;
}

::ng-deep .start-game-button button {
  width: 200px; /* Force the width */
  height: 40px; /* Force the height */
  margin-left: 16px;
}


.game{
  --p-button-primary-active-background: #ff5d5c;
  --p-button-primary-hover-background: #cd2524;
  --p-button-primary-active-border-color: #ff5d5c;
  --p-button-primary-hover-border-color: #cd2524;
}

p, h1, h2{
  color: #333333;
}

p, span {
  line-height: 25px;
}