<div class="header">
  <h1>Le quiz est fini !</h1>
  @if (2*progressService.score()>=progressService.questionNumber()){
    <h2>
      Bravo à vous ! Votre score est de {{ progressService.score() }} /
      {{ progressService.questionNumber() }}
    </h2>
  }
  @else {
    <h2>
      Votre score est de {{ progressService.score() }} /
      {{ progressService.questionNumber() }}
    </h2>
  }

  <!-- Mise en place du grade an fonction du score obtenu :
    - score < 1 - Grade E
    - 1 <= score <2 - Grade D
    - 2 <= score <3 - Grade C
    - 3 <= score <4 - Grade B
    - score == 4 - Grade A
  -->
  <div class = "grade">
    <p>Votre grade est </p>
    @if (progressService.score()/rapport < 1){
        <p-image
        src="images/Score_E.png"
        alt="Le grade du Quiz est E."
        [imageStyle]="{ objectFit: 'contain' }"
        width="90%"
      />
    }
    @else if (progressService.score()/rapport < 2) {
        <p-image
        src="images/Score_D.png"
        alt="Le grade du Quiz est D."
        [imageStyle]="{ objectFit: 'contain' }"
        width="90%"
      />
    }
    @else if (progressService.score()/rapport < 3) {
        <p-image
        src="images/Score_C.png"
        alt="Le grade du Quiz est C."
        [imageStyle]="{ objectFit: 'contain' }"
        width="90%"
      />
    }
    @else if (progressService.score()/rapport < 4) {
        <p-image
        src="images/Score_B.png"
        alt="Le grade du Quiz est B."
        [imageStyle]="{ objectFit: 'contain' }"
        width="90%"
      />
    }
    @else {
        <p-image
        src="images/Score_A.png"
        alt="Le grade du Quiz est A."
        [imageStyle]="{ objectFit: 'contain' }"
        width="90%"
      />
    }
  </div>
  
  <p-image
    src="images/quiz_endpage_image.png"
    alt="Image de décoration de la page finale du quiz"
    [imageStyle]="{ objectFit: 'contain' }"
    width="100%"
    class = "image-outro"
  />
</div>


<span>
  Vous pouvez désormais passer à « Inclusif, le jeu », ou lancer une autre série de questions.
</span>

<!-- Mise en place des boutons de fin de jeu -->
<div class="lower-section">
  <p-divider/>
  
  <div class="start-div">
    <p-button
      class = "game"
      (click)="progressService.goToBegining()"
      severity="secondary"
      variant="outlined">
      Voir Inclusif, le jeu
    </p-button>
    <p-button
      class = "start-again"
      (click)="progressService.goToBegining()">
      Relancer une série
    </p-button>
  </div>
</div>
