:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-top: 45px;
}

.grade{
  text-align: center;
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid #333333;
  width: 300px;
  height: 80px;
}

.image-outro {
  padding-top: 30px;
}

span{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.lower-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  position: relative;
  bottom:0em;
  width: 100%;
}

.start-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p-divider{
  margin: 0;
  padding-bottom: 40px;
  width:80%;
}

.start-again{
  margin-left: 16px;
  margin-right: 16px;
  --p-button-primary-active-background: #ff5d5c;
  --p-button-primary-hover-background: #cd2524;
  --p-button-primary-active-border-color: #ff5d5c;
  --p-button-primary-hover-border-color: #cd2524;
}

.game{
  margin-left: 16px;
  margin-right: 16px;
  --p-button-primary-active-background: #f4f4f4;
  --p-button-primary-hover-background: #e9e9e9;
}

::ng-deep .start-again button {
  width: 200px; /* Force the width */
}

::ng-deep .game button {
  width: 200px; /* Force the width */
}

h1, h2, span, p {
  color: #333333;
}

h1, h2 {
  text-align: left;
}
h1{
  margin-bottom: 10px;
}

p {
  font-size: 24px;
}