<div class="header">
  <h1>Le quiz est fini !</h1>
  @if (2*progressService.score()>=progressService.questionNumber()){
    <h2>
      Bravo à vous ! Votre score est de {{ progressService.score() }} /
      {{ progressService.questionNumber() }}
    </h2>
  }
  @else {
    <h2>
      Votre score est de {{ progressService.score() }} /
      {{ progressService.questionNumber() }}
    </h2>
  }
  @if (progressService.score()/rapport < 1){
    <p>
      Votre grade est E
    </p>
  }
  @else if (progressService.score()/rapport < 2) {
    <p>
      Votre grade est D
    </p>
  }
  @else if (progressService.score()/rapport < 3) {
    <p>
      Votre grade est C
    </p>
  }
  @else if (progressService.score()/rapport < 4) {
    <p>
      Votre grade est B
    </p>
  }
  @else {
    <p>
      Votre grade est A
    </p>
  }
  <p-image
    src="images/quiz_endpage_image.png"
    alt="Image de décoration de la page finale du quiz"
    [imageStyle]="{ objectFit: 'contain' }"
    width="100%"
    class = "image-outro"
  />
</div>


<span>
  Vous pouvez désormais passer à « Inclusif, le jeu », ou lancer une autre série de questions.
</span>

<div class="lower-section">
  <p-divider/>
  <div class="start-div">
    <p-button
      (click)="progressService.goToBegining()"
      severity="secondary"
      variant="outlined">
      Voir Inclusif, le jeu
    </p-button>
    <p-button
      (click)="progressService.goToBegining()">
      Relancer une série
    </p-button>
  </div>
</div>
