<div class="app-container">
  <header>
    <div class="navbar-div">
      <app-navbar></app-navbar>
    </div>
  </header>

  <main>
    <div class="quiz-div">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <ul>
      <li><a href="https://resin.grandlyon.com/mentions-legales" target="_blank" rel="noopener noreferrer">Mentions légales</a></li>
      <li><a href="https://resin.grandlyon.com/newsletter" target="_blank" rel="noopener noreferrer">Newsletter</a></li>
      <li><a href="https://resin.grandlyon.com/contact" target="_blank" rel="noopener noreferrer">Contact</a></li>
      <li><a href="https://resin.grandlyon.com/page/qui-sommes-nous" target="_blank" rel="noopener noreferrer">Qui sommes-nous ?</a></li>
      <li><a href="/accessibilite" target="_blank" rel="noopener noreferrer">Accessibilité : Pas Testé</a></li>
    </ul>
    <div class="right-section">
      <img src="https://inclusivite-resin.grandlyon.com/app/themes/ausy-modular-theme/public/images/picto-plus.0a1d2b.png" alt="Logo">
      <a href="https://www.grandlyon.com/" target="_blank" rel="noopener noreferrer">Un site de la Métropole de Lyon</a>
    </div>
  </footer>
</div>
