<div class="app-container">
  <header>
    <div class="header-div">
      <app-header></app-header>
    </div>
  </header>

  <main>
    <div class="quiz-div">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <ul>
      <li><a href="https://resin.grandlyon.com/mentions-legales" target="_blank" rel="noopener noreferrer">Mentions légales</a></li>
      <p>&#9679;</p>
      <li><a href="https://resin.grandlyon.com/page/qui-sommes-nous" target="_blank" rel="noopener noreferrer">Qui sommes nous ?</a></li>
      <p>&#9679;</p>
      <li><a href="/accessibilite" target="_blank" rel="noopener noreferrer">Accessibilité : Non conforme</a></li>
    </ul>
    <div class="right-section">
      <ul>
        <li>
          <a href="https://www.grandlyon.com/" target="_blank" rel="noopener noreferrer">
            <img src="https://inclusivite-resin.grandlyon.com/app/themes/ausy-modular-theme/public/images/picto-plus.0a1d2b.png" alt="Logo">
            <p>Un site de la Métropole de Lyon</p>
          </a></li>
      </ul>
    </div>
  </footer>
</div>
