:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 16px;
  margin-top: 5%;
}

.answer-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.answer-choice {
  font-size: 1.5em;
  display: flex;
  align-content: center;
  width: 100%;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 4px;
  --p-checkbox-height: 1.5em;
  --p-checkbox-width: 1.5em;
  --p-radiobutton-height: 1.5em;
  --p-radiobutton-width: 1.5em;
  --p-radiobutton-icon-size: 1em;
}

answer-choice:has(:checked) {
  border: 2px solid black;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.choice-text {
  padding-left: 0.5em;
}
