@if (quiz_segment()?.question_type === "QCM") {
  <p class="nb-choice">Plusieurs réponses possibles</p>
} @else if (quiz_segment()?.question_type === "QCU") {
  <p class="nb-choice">Une seule réponse possible</p>
}
<form [formGroup]="answerForm">
  <div class="answer-box">
    @for (choice of quiz_segment()?.possible_answers; track $index) {
      <label class="answer-choice">
        @if (quiz_segment()?.question_type === "QCM") {
          <p-checkbox [value]="$index" [formControlName]="'QCM'" size="large" class = "check" />
        } @else if (quiz_segment()?.question_type === "QCU") {
          <p-radiobutton [value]="$index" [formControlName]="'QCU'" class="radio"/>
        }
        <p class="choice-text">
          {{ choice }}
        </p>
      </label>
    }
  </div>
</form>

<p-dialog
  header="Veuillez choisir au moins une option."
  [modal]="false"
  [closable]="false"
  [(visible)]="dialogVisible"
  class="p-error"
>
  <div class="div-error">
    <p-button label="Ok" (click)="dialogVisible = false" class ="bouton-error"/>
  </div>
</p-dialog>
