@if (quiz_segment()?.question_type === "QCM") {
  <p class="nb-choice">Plusieurs réponses possibles</p>
} @else if (quiz_segment()?.question_type === "QCU") {
  <p class="nb-choice">Une seule réponse possible</p>
}

<form [formGroup]="answerForm">
  <div class="answer-box">
    @for (choice of quiz_segment()?.possible_answers; track $index) {
      <label class="answer-choice">

        <!-- Mise en place des checkbox dans le cas d'un QCM -->
        @if (quiz_segment()?.question_type === "QCM") {
          <p-checkbox class = "check"
          [value]="$index"
          [formControlName]="'QCM'"
          size="large"
          (change) = "checkAnswer()"/>
        }

        <!-- Mise en place des radiobutton dans le cas d'un QCU -->
        @else if (quiz_segment()?.question_type === "QCU") {
          <p-radiobutton class="radio"
            [value]="$index"
            [formControlName]="'QCU'"
            (onClick) = "checkAnswer()">
          </p-radiobutton>
        }
        <p class="choice-text">{{ choice }}</p>
      </label>
    }
  </div>
</form>
